# Example workflow
name: Format

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # v2 minimum required
      - uses: axel-op/googlejavaformat-action@v3
        with:
          args: "--skip-sorting-imports --replace --dry-run"
          version: 11
          files: "**/*.java"
          # Recommended if you use MacOS:
          # githubToken: ${{ secrets.GITHUB_TOKEN }}
